0.0.0.0:80,
0.0.0.0:443,
local.kb.grupotesseract.com.br:80,
local.kb.grupotesseract.com.br:443 {
  root /var/www/public
  log /var/log/caddy/access.log
  errors /var/log/caddy/error.log
  browse
  gzip

  fastcgi / php-fpm:9000 php {
    index index.php
  }

  rewrite {
    to {path} {path}/ /index.php?{query}
  }

  tls self_signed
}
